{% extends "base.html" %}
{% block head %}
  {{ super() }}
  <title>Home</title>
  {% endblock %}

  <!-- Herança do popup de status  -->
    {% block popup %}
    {{ super() }}
    {% endblock %}

    <!-- Herança da navbar -->
    {% block header %}
    {{ super() }}
    

    {% endblock %}

  {% block main %}
  {{ super() }}
  <h2>Página não implementada ainda</h2>

  {% endblock %}

  <!-- Herança de informações de rodapé -->
  {% block footer %}
  {{ super() }}

  {% endblock %}


  <!-- Herança de scripts - global e pesquisar  -->
  {% block scripts %}
  {{ super() }}
  {% endblock %}
