{% extends "base.html" %}
{% block head %}
  {{ super() }}
  <title>Horário - Grade</title>
  <link rel="stylesheet" href="static/styles/horario_grade_window.css">
  <script src="https://requirejs.org/docs/release/2.3.5/minified/require.js"></script>
  {% endblock %}

  <!-- Herança do popup de status  -->
    {% block popup %}
    {{ super() }}
    {% endblock %}

    <!-- Herança da navbar -->
    {% block header %}
    {{ super() }}


    {% endblock %}

  {% block main %}
  {{ super() }}
  <h1>Grade horária - template</h1>
  <div class="container">
    <!-- Cabeçalho -->
    <div class="titles">
      <div class="hora_aula days" id="periodo">
        <!-- Alterar para deixar dinâmico depois -->
        <p>Horário - Matutino</p>
      </div>
      <div class="hora_aula days" id="seg">
        <p>Segunda</p>
      </div>
      <div class="hora_aula days" id="ter">
        <p>Terça</p>
      </div>

      <div class="hora_aula days" id="quar">
        <p>Quarta</p>
      </div>

      <div class="hora_aula days" id="quin">
        <p>Quinta</p>
      </div>

      <div class="hora_aula days" id="sex">
        <p>Sexta</p>
      </div>

      <div class="hora_aula days" id="sab">
        <p>Sábado</p>
      </div>
    </div>

    <!-- Colunas -->
    <div class="container_columns" style="display:inline-flex;">

      {%for coluna in range(7) %}
        {%if coluna == 0 %}
        <div class="columns">
          {% for horario in horarios %}
          <div class="hora_aula">
            <p>{{horarios[horario]}}</p>

          </div>
          {%endfor%}
        </div>
        {%else %}
        <div class="columns">
          {%for linha in range(8) %}

            <div class="hora_aula disciplinas" id="{{coluna}}{{linha}}" onclick="troca_aula({{coluna}}{{linha}}, 'AOBA')" >
              <div class="{%if coluna == 1%}seg{%elif coluna == 2%}ter{%elif coluna == 3%}quar{%elif coluna == 4%}quin{%elif coluna == 5%}sex{%else%}sab{%endif%}"
              id="
                   {%if linha == 0 or linha == 1 %}
                   {{'Aula{}'.format(linha+1)}}

                   {%elif linha == 2 %}
                   {{horarios['Intervalo1']}}

                   {%elif linha == 3 or linha == 4 %}
                   {{'Aula{}'.format(linha)}}

                   {%elif linha == 5 %}
                   {{'Intervalo2'}}

                   {%else%}
                   {{'Aula{}'.format(linha-1)}}
                   {%endif%}">

                <!-- linha == 0 ou linha == 1 -->
                     <!-- Aula1 e Aula2 -->
                     {%if linha == 0 or linha == 1 %}
                     {{horarios['Aula{}'.format(linha+1)]}}

                <!--linha == 2  ou linha == 5-->
                     <!-- Intervalo -->
                     {%elif linha == 2 or linha == 5%}
                     {{"Intervalo"}}

                <!-- linha == 3 ou linha == 4 -->
                     <!-- Aula3 e Aula4 -->
                     {%elif linha == 3 or linha == 4 %}
                     {{horarios['Aula{}'.format(linha)]}}

                <!-- linha == 6 ou linha == 7 -->
                     <!-- Aula5 e Aula6 -->
                     {%else%}
                     {{horarios['Aula{}'.format(linha-1)]}}
                     {%endif%}
              </div>
          </div>
        {%endfor%}
      </div>
      {%endif%}
      {%endfor%}


  </div>
</div>

  {% endblock %}

  <!-- Herança de informações de rodapé -->
  {% block footer %}
  {{ super() }}

  {% endblock %}


  <!-- Herança de scripts - global e pesquisar  -->
  {% block scripts %}
  {{ super() }}

  <script src="static/scripts/completar_horario.js" charset="utf-8"></script>
  {% endblock %}
