{% extends "base.html" %}
{% block head %}
  {{ super() }}
  <title>Horário - Grade</title>
  <link rel="stylesheet" href="static/styles/horario_grade_window.css">
  <script src="https://requirejs.org/docs/release/2.3.5/minified/require.js"></script>
  {% endblock %}

  <!-- Herança do popup de status  -->
    {% block popup %}
    {{ super() }}
    {% endblock %}

    <!-- Herança da navbar -->
    {% block header %}
    {{ super() }}


    {% endblock %}

  {% block main %}
  {{ super() }}
  <h1>Grade horária - <a id="curso_selecionado" ,href="horario_curso/{{dados_curso['curso']}}">{{dados_curso['curso']}}</a></h1>
  <h1>Período - <a id="periodo_selecionado" ,href=" ">{{dados_curso['periodo']}}</a></h1>
  <div class="container">
    <!-- Cabeçalho -->
    <div class="titles">
      <div class="hora_aula days" id="periodo">
        <!-- Alterar para deixar dinâmico depois -->
        <p>Horário</p>
      </div>
      <div class="hora_aula days" id="seg">
        <p>Segunda</p>
      </div>
      <div class="hora_aula days" id="ter">
        <p>Terça</p>
      </div>

      <div class="hora_aula days" id="quar">
        <p>Quarta</p>
      </div>

      <div class="hora_aula days" id="quin">
        <p>Quinta</p>
      </div>

      <div class="hora_aula days" id="sex">
        <p>Sexta</p>
      </div>

      <div class="hora_aula days" id="sab">
        <p>Sábado</p>
      </div>
    </div>

    <!-- Colunas -->
    <div class="container_columns" style="display:inline-flex;">

      {%for coluna in range(7) %}
        {%if coluna == 0 %}
        <div class="columns">
          {% for horario in horarios %}
          <div class="hora_aula horarios">
            <p>{{horarios[horario]}}</p>

          </div>
          {%endfor%}
        </div>
        {%else %}
        <div class="columns">
          <!-- As Inserções de texto dinâmicas devem ficar escritas em uma linha só para não ficar com -->
          <!-- espaço no HTML renderizado. -->
          {%for linha in range(8) %}
            <div class="{%if linha == 2 or linha == 5 %}hora_aula intervalos{%else%}hora_aula disciplinas{%endif%}" id="{{coluna}}{{linha}}" onclick="irra('Design de Mídias Digitais', {{coluna}}{{linha}})" >
              <div id="{%if coluna == 1%}Segunda{%elif coluna == 2%}Terça{%elif coluna == 3%}Quarta{%elif coluna == 4%}Quinta{%elif coluna == 5%}Sexta{%else%}Sábado{%endif%}"
              name="{%if linha == 0 or linha == 1 %}{{horarios['Aula{}'.format(linha+1)]}}{%elif linha == 2 %}{{horarios['Intervalo1']}}{%elif linha == 3 or linha == 4 %}{{horarios['Aula{}'.format(linha)]}}{%elif linha == 5 %}{{horarios['Intervalo2']}}{%else%}{{horarios['Aula{}'.format(linha-1)]}}{%endif%}"
              class="disciplinas_texto">

                     {%if linha == 2 or linha == 5%}
                     {{"Intervalo"}}
                     {%else%}
                     -
                     {%endif%}
              </div>
          </div>
        {%endfor%}
      </div>
      {%endif%}
      {%endfor%}

  </div>
  <div class="container_especiais">
    {%for index in range(3) %}
    <span class="hora_aula especiais" id= "materia_especial{{index}}" onclick="irra('Design de Mídias Digitais', 'materia_especial{{index}}')">
      <div id="Especial" name="??h?? - ??h??">
        -
      </div>
    </span>
   {%endfor%}
  </div>

  <div class="container_aulas_disponiveis" id="container_aulas_disponiveis">

  </div>

</div>

  {% endblock %}

  <!-- Herança de informações de rodapé -->
  {% block footer %}
  {{ super() }}

  {% endblock %}


  <!-- Herança de scripts - global e pesquisar  -->
  {% block scripts %}
  {{ super() }}

  <script src="static/scripts/completar_horario.js" charset="utf-8"></script>
  {% endblock %}
